<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>My page</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="css/mypage_styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        

    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" id="mainNav">
            <a class="navbar-brand ps-3" href="/">Medilogue</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <div class="container">
                <!-- Navbar Brand-->
                <            
            <!-- Navbar Search-->
                <!-- Navbar Search-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item" ><a class="nav-link" href="#services" >Services</a></li>
                        <li class="nav-item" ><a class="nav-link" href="#portfolio" >Consulting</a></li>
                        <li class="nav-item" ><a class="nav-link" href="#team" >Team</a></li>
                        <li class="nav-item" ><a class="nav-link" href="/logout" >Logout</a></li>
                        <li class="nav-item" ><a class="nav-link" href="/mypage">Mypage</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/mypage">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Mypage
                            </a>

                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="/charts">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                <%= name %>님의 건강통계
                            </a>
                            <a class="nav-link" href="/tables">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                <%= name %>님의 상담내역
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        <%= name %> 
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">MYPAGE</h1>
                        <ol class="breadcrumb mb-4">
                            <!-- <li class="breadcrumb-item active">Dashboard</li> -->
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">퀴즈</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="portfolio-link" data-bs-toggle="modal" href="#quiz1" style="color: white">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Warning Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Success Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Danger Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        <%= name %>님의 간수치 통계
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        <%= name %>님의 요단백량 통계
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                <%= name %>님의 상담내역
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>의사</th>
                                            <th>환자</th>
                                            <th>사유</th>
                                            <th>상담내용</th>
                                            <th>상담일자</th>
                                            <th>수정</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>번호</th>
                                            <th>의사</th>
                                            <th>환자</th>
                                            <th>사유</th>
                                            <th>상담내용</th>
                                            <th>상담일자</th>
                                            <th>수정</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <%
                                        for(var i=0; i<rows.length; i++)
                                        {
                                        %>
                                            <tr>
                                                <td><%=i+1%></td>
                                                <td><%=rows[i].doctorName%></td>
                                                <td><%=rows[i].userName%></td>
                                                <td><%=rows[i].reason%></td>
                                                <td><%=rows[i].content%></td>
                                                <td><%=rows[i].regdate%></td>
                                                <td><a href="/update/<%=rows[i].idx%>">수정</a></td>
                                            </tr>
                                        <%}%>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-primary btn-xl text-uppercase" onClick="location.href='/write'">상담내용추가</button>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
                <div class="portfolio-modal modal fade" id="quiz1" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                            <div class="container">
                                <div class="row"><br>
                                </div>
                                <div class="row"><br><br>
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <div class="loader">
                                            <div class="col-xs-3 col-xs-offset-5">
                                                <div id="loadbar" style="display: none;">
                                                    <img src="https://8finatics.s3.amazonaws.com/static/reload_emi.gif" alt="Loading" class="center-block loanParamsLoader" style="">
                                                </div>
                                            </div>
                            
                                            <div id="quiz">
                                            
                                                <div class="question">
                                                    <h3><span class="label label-warning" id="qid">1</span>
                                                    <span id="question"> How can you add a single line comment in a JavaScript?</span>
                                                    </h3>
                                                </div>
                                                <ul>
                                                    <li>
                                                    <input type="radio" id="f-option" name="selector" value="1">
                                                    <label for="f-option" class="element-animation">/*-- comment --*/</label>
                                                    <div class="check"></div>
                                                    </li>
                                                    
                                                    <li>
                                                    <input type="radio" id="s-option" name="selector" value="2">
                                                    <label for="s-option" class="element-animation">comment //</label>
                                                    <div class="check"><div class="inside"></div></div>
                                                    </li>
                                                    
                                                    <li>
                                                    <input type="radio" id="t-option" name="selector" value="3">
                                                    <label for="t-option" class="element-animation">comment [ ]</label>
                                                    <div class="check"><div class="inside"></div></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="text-muted">
                                            <span id="answer"></span>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <div id="result-of-question" class="pulse animated" style="display: none;">
                                            <span id="totalCorrect" class="pull-right"></span>
                                            <table class="table table-hover table-responsive" >
                                                <thead>
                                                    <tr>
                                                        <th>Question No.</th>
                                                        <th>Our answer</th>
                                                        <th>Your answer</th>
                                                        <th>Result</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="quizResult"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/mypage.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>

        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="js/quiz.js"></script>
    </body>
</html>
