<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>title</h1>
<form action="/update" method="post">
    <table border="1">
        <input type="hidden" name="idx" value="<%=rows.idx%>"/>
        <tr>
            <td>의사</td>
            <td><input type="text" name="name" id="name" value="<%=rows.doctorName%>" required/></td>
        </tr>
        <tr>
            <td>상담사유</td>
            <td><input type="text" name="reason" id="reason" value="<%=rows.reason%>" required/></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><textarea name="content" id="content" cols="30" rows="10" required><%=rows.content%></textarea></td>
        </tr>
        <tr>
            <td>패스워드</td>
            <td><input type="password" name="passwd" id="passwd" required/></td>
        </tr>

        <tr>
            <td>등록일</td>
            <td><%=rows.regdate%></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">글 수정</button>
                <a href="/tables">목록</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
 